<div class="w-screen bg-gray-100 h-screen">
    <app-navbar></app-navbar>

    <div class="flex items-center justify-around w-full p-4">
        <div class="flex space-x-4">
            <button class="px-4 py-2 text-white bg-purple-500 rounded-lg hover:bg-purple-700" [routerLink]="['/drinks']">Drinks</button>
            <button class="px-4 py-2 text-white bg-purple-500 rounded-lg hover:bg-purple-700" [routerLink]="['/ingredients']">Ingredients</button>
            <button class="px-4 py-2 text-white bg-purple-500 rounded-lg hover:bg-purple-700" [routerLink]="['/hamburgers']">Hamburgers</button>
        </div>
        <h2 class="flex m-0"> Hamburgers </h2>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-4 float-right mr-4">
            <button class="px-4 py-2 text-white bg-purple-500 rounded-lg hover:bg-purple-700"
                [routerLink]="['/hamburgers/add']">
                Add hamburger
            </button>
        </div>
    </div>



    <div class="container mx-auto w-full shadow-md sm:rounded-lg my-4">
        <input type="text" placeholder="Search the name or description..." class="w-full p-2 rounded-md border border-purple-500" (input)="search($event)">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b dark:bg-gray-800 dark:border-gray-700 text-center">
                    <th scope="col" class="px-6 py-3"> Name </th>
                    <th scope="col" class="px-6 py-3"> Price </th>
                    <th scope="col" class="px-6 py-3"> Description </th>
                    <th scope="col" class="px-6 py-3"> Actions </th>
                </tr>
            </thead>
            <tbody>
                @for(hamburger of hamburgers; track hamburger.id){
                <tr
                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 text-center">

                    <td class="px-6 py-4"> {{ hamburger.name }}</td>
                    <td class="px-6 py-4"> {{ hamburger.price }}</td>
                    <td class="px-6 py-4"> {{ hamburger.description }}</td>
                    <td class="px-6 py-4">
                        <div class="flex items-center space-x-3 justify-center">
                            <button class="px-4 py-2 text-white bg-purple-500 rounded-lg hover:bg-purple-700"
                                [routerLink]="['/hamburgers/edit', hamburger.id]">
                                Edit
                            </button>
                            <button class=" px-4 py-2 text-white bg-gray-500 rounded-lg hover:bg-red-700"
                                (click)="deleteHamburger(hamburger)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>