<div class="flex items-center justify-around w-full bg-purple-500 p-4 text-white items-center">
    <h1 class="cursor-pointer" [routerLink]="['/']">Lanchonete</h1>
    <div class="flex space-x-8">
        <button class="px-5 py-2 text-black bg-white rounded-lg hover:bg-gray-300"
            [routerLink]="['/drinks']">Admin</button>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-[35px] h-[35px] cursor-pointer" [routerLink]="['/cart']">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>
    </div>
</div>
