<div class="w-screen bg-gray-100 h-screen ">
    <app-navbar></app-navbar>
    <div class="container mx-auto w-full shadow-md sm:rounded-lg my-4 p-8 bg-white w-full">
        <h2 class="font-bold mb-6 text-gray-800 dark:text-white">
            Finish your order
        </h2>
        @if(orderForm){
        <form [formGroup]="orderForm" (ngSubmit)="saveOrder()" novalidate>
            <div class="flex justify-between space-x-4">
                <div class="mb-6 w-1/2">
                    <label for="name" class="flex mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <p class="text-red-500">*</p>
                        Name
                    </label>
                    <input type="text" id="customer_name" formControlName="customer_name"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                        required>
                    @if (orderForm.get('customer_name')?.hasError('required') &&
                    orderForm.get('customer_name')?.touched) {
                    <div class="text-red-500">Name is required</div>
                    }
                </div>

                <div class="mb-6 w-1/2">
                    <label for="name" class="flex mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <p class="text-red-500">*</p>
                        Phone
                    </label>
                    <input type="tel" id="phone" formControlName="phone" mask="(00) 0 0000 0000"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                        placeholder="(00) 00000-0000" required>
                    @if (orderForm.get('phone')?.hasError('required') && orderForm.get('phone')?.touched || orderForm.get('phone')?.invalid && orderForm.get('phone')?.touched ) {
                    <div class="text-red-500">Phone is required</div>
                    }
                </div>
            </div>

            <div class="flex justify-between space-x-4">
                <div class="mb-6 w-1/3">
                    <label for="name" class="flex block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <p class="text-red-500">*</p>
                        Brazilian Zip Code
                    </label>
                    <input type="text" id="zip_code" formControlName="zip_code" (blur)="searchCep()" mask="00000-000"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                        placeholder="00000-000" required>
                    @if (orderForm.get('zip_code')?.hasError('required') && orderForm.get('zip_code')?.touched || orderForm.get('zip_code')?.invalid && orderForm.get('zip_code')?.touched ) {
                    <div class="text-red-500">Zip Code is required</div>
                    }
                </div>

                <div class="mb-6 w-1/3">
                    <label for="name" class="flex block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <p class="text-red-500">*</p>
                        Neighborhood
                    </label>
                    <input type="text" id="neighborhood" formControlName="neighborhood"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                        required>
                    @if (orderForm.get('neighborhood')?.hasError('required') && orderForm.get('neighborhood')?.touched)
                    {
                    <div class="text-red-500">Neighborhood</div>
                    }
                </div>
                <div class="mb-6 w-1/3">
                    <label for="name" class="flex block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <p class="text-red-500">*</p>
                        Street
                    </label>
                    <input type="text" id="street" formControlName="street"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                        required>
                    @if (orderForm.get('street')?.hasError('required') && orderForm.get('street')?.touched) {
                    <div class="text-red-500">Street is required</div>
                    }
                </div>
                <div class="mb-6">
                    <label for="number" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        Number
                    </label>
                    <input type="number" id="number" formControlName="number"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500">
                </div>
            </div>

            <div class="flex justify-between space-x-4">
                <div class="mb-6 w-1/3">
                    <label for="name" class="flex block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        Complement
                    </label>
                    <input type="text" id="complement" formControlName="complement"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500">
                </div>
                <div class="mb-6 w-1/3">
                    <label for="name" class="flex mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <p class="text-red-500">*</p>
                        State
                    </label>
                    <input type="text" id="state" formControlName="state"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                        placeholder="SP" required>
                    @if (orderForm.get('state')?.hasError('required') && orderForm.get('state')?.touched) {
                    <div class="text-red-500">State is required</div>
                    }
                </div>

                <div class="mb-6 w-1/3">
                    <label for="name" class="flex block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <p class="text-red-500">*</p>
                        City
                    </label>
                    <input type="text" id="city" formControlName="city"
                        class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                        required>
                    @if (orderForm.get('city')?.hasError('required') && orderForm.get('city')?.touched) {
                    <div class="text-red-500">City is required</div>
                    }
                </div>
            </div>

            <div class="mb-6">
                <label for="name" class="flex block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                    Comments
                </label>
                <textarea id="comments" formControlName="comments" placeholder="Enter your comments here" rows="4"
                    class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"></textarea>
            </div>

            <div class="flex justify-between">
                <div *ngIf="orderForm" class="w-1/2">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th class="px-4 py-2">Name</th>
                                <th class="px-4 py-2">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of orderForm.get('hamburgers')?.value">
                                <td class="border px-4 py-2">{{ item?.name }}</td>
                                <td class="border px-4 py-2">R${{ item?.price }}</td>
                            </tr>
                            <tr *ngFor="let item of orderForm.get('drinks')?.value">
                                <td class="border px-4 py-2">{{ item?.name }}</td>
                                <td class="border px-4 py-2">R${{ item?.price }}</td>
                            </tr>
                            <tr *ngFor="let item of orderForm.get('ingredients')?.value">
                                <td class="border px-4 py-2">{{ item?.name }}</td>
                                <td class="border px-4 py-2">R${{ item?.price }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="w-1/2 ">
                    <div class="p-4 text-center">
                        <p class="font-bold text-lg">Total price: R${{ orderForm.get('total_price')?.value }}</p>
                    </div>
                  
                        <div class="fixed bottom-0 left-0 w-full p-4">
                        <div class="flex justify-end container mx-auto p-8">
                            <button type="button"
                             class="bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline mr-2"
                                routerLink="/cart">
                                Cancel
                            </button>
                            <button type="submit" class="bg-purple-400 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
                                Finalize order
                            </button>
                        </div>
                </div>
                </div>
            </div>
        </form>
        }
    </div>
</div>