 <div class="max-w-md mx-auto p-8 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 dark:text-white">
        @if(drink){
        Edit drink
        } @else {
        Add drink
        }

    </h2>
    @if(drinkForm){
    <form [formGroup]="drinkForm" (ngSubmit)="saveDrink()" novalidate>
        <div class="mb-6">
            <label for="name" class="flex mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                <p class="text-red-500">*</p>
                Name
            </label>
            <input type="text" id="name" formControlName="name"
                class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                required>
            @if (drinkForm.get('name')?.hasError('required') && drinkForm.get('name')?.touched) {
            <div class="text-red-500">Name is required</div>
            }
        </div>
        <div class="mb-6">
            <label for="price" class="flex block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                <p class="text-red-500">*</p>
                Price
            </label>
            <input type="number" id="price" formControlName="price"
                class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                required>
            @if (drinkForm.get('price')?.hasError('min') && drinkForm.get('price')?.touched || 
            drinkForm.get('price')?.hasError('required') && drinkForm.get('price')?.touched) {
            <div class="text-red-500">Price must be greater than or equal to 0.1</div>
            }
        </div>
        <div class="mb-6">
            <label for="flag" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Flag</label>
            <select id="flag_sugar" formControlName="flag_sugar"
                class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
                required>
                <option value="WITH_SUGAR">WITH_SUGAR</option>
                <option value="WITHOUT_SUGAR">WITHOUT_SUGAR</option>
            </select>
        </div>
        <div class="mb-6">
            <label for="description"
                class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Description</label>
            <textarea id="description" rows="3" formControlName="description"
                class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"></textarea>
        </div>
        <div class="flex items-center justify-between space-x-4">
            <button type="button"
                class="w-full bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline" routerLink="/drinks">
                Cancel
            </button>
            <button type="submit"
                class="w-full bg-purple-400 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
                @if(drink){
                Edit drink
                } @else {
                Add drink
                }
            </button>
        </div>
    </form>
    }
</div>