@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgb(243 244 246);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
